
    <div class="container-fluid px-3">
      <div class="row min-vh-100">
        <div class="col-md-8 col-lg-6 col-xl-5 d-flex align-items-center">
          <div class="w-100 py-5 px-md-5 px-xxl-6 position-relative">
            <div class="mb-4">
              <h2>Sign up</h2>
            </div>
<style>
.actions{
  margin-top: 10px;
}
</style>

  <%= form_with model: @user, url: user_registration_path, local: true do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
    <div class="mb-4">
      <div class="field">
          <%= f.label :nickname, class:"form-label" %><br />
          <%= f.text_field :nickname, autocomplete: "nickname",class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :email, class:"form-label" %><br />
          <%= f.email_field :email, autocomplete: "email",class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :password, class:"form-label"%><br />
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
        </div>

        <div class="field">
          <%= f.label :password_confirmation, class:"form-label"%><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control"%>
        </div>

        <div class="field">
          <%= f.label :genre, class:"form-label"%><br />
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: ''}, {class:"form-select"}) %>
        </div>

        <div class="field">
          <%= f.label :bike_name, class:"form-label"%><br />
          <%= f.text_field :bike_name, class:"form-control"%>
        </div>

        <div class="field">
          <%= f.label :age, class:"form-label"%><br />
          <%= f.collection_select(:age_id, Age.all, :id, :name, {include_blank: ''}, {class:"form-select"}) %>
        </div>

        <div class="field">
          <%= f.label :gender, class:"form-label"%><br />
          <%= f.collection_select(:gender_id, Gender.all, :id, :name, {include_blank: ''}, {class:"form-select"}) %>
        </div>

        <div class="field">
          <%= f.label :prefecture, class:"form-label"%><br />
          <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {include_blank: ''}, {class:"form-select"}) %>
        </div>

        <div class="field">
          <%= f.label :personality, class:"form-label"%><br />
          <%= f.collection_select(:personality_id, Personality.all, :id, :name, {include_blank: ''}, {class:"form-select"}) %>
        </div>

        <div class="mb-3">
          <div class="field">
            <%= f.label :profile_image, class:"form-label"%><br />
            <%= f.file_field :image, id:"profile-image" %>
          </div>
        </div>
        

        <div class="actions">
          <%= f.submit "Sign_up", class:"btn btn-info" %>
        </div>
  <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
<!-- JavaScript files-->
    <script>
      // ------------------------------------------------------- //
      //   Inject SVG Sprite - 
      //   see more here 
      //   https://css-tricks.com/ajaxing-svg-sprite/
      // ------------------------------------------------------ //
      function injectSvgSprite(path) {
      
          var ajax = new XMLHttpRequest();
          ajax.open("GET", path, true);
          ajax.send();
          ajax.onload = function(e) {
          var div = document.createElement("div");
          div.className = 'd-none';
          div.innerHTML = ajax.responseText;
          document.body.insertBefore(div, document.body.childNodes[0]);
          }
      }    
      // to avoid CORS issues when viewing using file:// protocol, using the demo URL for the SVG sprite
      // use your own URL in production, please :)
      // https://demo.bootstrapious.com/directory/1-0/icons/orion-svg-sprite.svg
      //- injectSvgSprite('${path}icons/orion-svg-sprite.svg'); 
      injectSvgSprite('https://demo.bootstrapious.com/directory/1-4/icons/orion-svg-sprite.svg'); 
      
    </script>
    <!-- jQuery-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap JS bundle - Bootstrap + PopperJS-->
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- Magnific Popup - Lightbox for the gallery-->
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <!-- Smooth scroll-->
    <script src="vendor/smooth-scroll/smooth-scroll.polyfills.min.js"></script>
    <!-- Bootstrap Select-->
    <script src="vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
    <!-- Object Fit Images - Fallback for browsers that don't support object-fit-->
    <script src="vendor/object-fit-images/ofi.min.js"></script>
    <!-- Swiper Carousel                       -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script>var basePath = ''</script>
    <!-- Main Theme JS file    -->
    <script src="js/theme.js"></script>