  <div style="padding-top: 72px;">
    <section class="hero-home">
      <div class="swiper-container hero-slider">
        <div class="swiper-wrapper dark-overlay">
          <div class="swiper-slide" style="background-image:url(https://cdn.pixabay.com/photo/2021/05/09/19/21/honda-6241835_1280.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(https://cdn.pixabay.com/photo/2017/03/29/21/27/motorcycle-2186589_1280.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(https://cdn.pixabay.com/photo/2018/01/19/12/12/astronomy-3092289_1280.jpg)"></div>
          <div class="swiper-slide" style="background-image:url(https://cdn.pixabay.com/photo/2021/09/12/16/35/motorcycle-6618785_1280.jpg)"></div>
        </div>
      </div>
      <div class="container py-6 py-md-7 text-white z-index-20">
        <div class="row">
          <div class="col-xl-10">
            <div class="text-lg-start">
              <p class="subtitle letter-spacing-4 mb-2 text-secondary text-shadow">The best holiday experience</p>
              <h1 class="display-3 fw-bold text-shadow">Let's go find new discoveries</h1>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="py-6 bg-gray-100">
      <div class="container">
        <div class="text-center pb-lg-4">
          <h2 class="mb-5">How to use</h2>
        </div>
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <div class="icon-rounded bg-primary-light mb-3">
                <svg class="svg-icon text-primary w-2rem h-2rem">
                  <use xlink:href="#destination-map-1"> </use>
                </svg>
              </div>
              <h3 class="h5">みんなのツーリング記事</h3>
              <p class="text-muted">自分の訪れた場所や景色、食べた物を投稿しよう</br>みんなのツーリング記事を見て、</br>自分のツーリング計画に役立てよう</p>
            </div>
          </div>
          
          <div class="col-lg-6 mb-5 mb-lg-0 text-center">
            <div class="px-0 px-lg-3">
              <div class="icon-rounded bg-primary-light mb-3">
                <svg class="svg-icon text-primary w-2rem h-2rem">
                  <use xlink:href="#heart-1"> </use>
                </svg>
              </div>
              <h3 class="h5">Garageスペースで仲間と語り合おう</h3>
              <p class="text-muted">ログイン中の仲間と語り合おう</br>気の合う仲間を見つけて情報共有しよう</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Divider Section-->
    <section class="py-7 position-relative dark-overlay"><img class="bg-image" src="https://cdn.pixabay.com/photo/2019/05/01/00/55/child-4169841_1280.jpg" alt="">
      <div class="container">
        <div class="overlay-content text-white py-lg-5">
          <h3 class="display-3 fw-bold text-shadow mb-5">Ready for your next holidays?</h3>
        </div>
      </div>
    </section>
    <section class="py-6 bg-gray-100"> 
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-8">
            <p class="subtitle text-secondary">Stories from our tourings record</p>
            <h2>みんなのツーリング最新記事</h2>
          </div>
          <div class="col-md-4 d-md-flex align-items-center justify-content-end"><%=link_to "See all", tourings_path, class:"text-muted text-sm" %>
              <i class="fas fa-angle-double-right ms-2"></i></div>
        </div>
        <div class="row">
          <!-- blog item-->
          <% @tourings.first(3).each do |touring| %>
          <div class="col-lg-4 col-sm-6 mb-4 hover-animate">
            <div class="card shadow border-0 h-100"><a href="post.html"><%= image_tag touring.image, class:"img-fluid card-img-top" if touring.image.attached? %></a>
              <div class="card-body"><%= link_to "#{touring.user.nickname}", "#", class:"text-uppercase text-muted text-sm letter-spacing-2" %>
                <h5 class="my-2"><%= touring.title %></h5>
                <p class="text-gray-500 text-sm my-3"><i class="far fa-clock me-2"></i><%= touring.created_at.strftime("%Y年 %m月 %d日") %></p>
                <p class="my-2 text-muted text-sm"><%= touring.recording %></p><a class="btn btn-link ps-0" href="post.html">Read more<i class="fa fa-long-arrow-alt-right ms-2"></i></a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </section>
  </div>