<div style="padding-top: 72px;">
    <section class="py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 me-lg-auto">
            <div class="card border-0 shadow mb-6 mb-lg-0">
              <div class="card-header d-fiex bg-gray-100 py-4 border-0 text-center"><%= image_tag @user.image, class:" avatar avatar-xxl p-2 mb-2" if @user.image.attached?%>
                <h5><%= @user.nickname %></h5>
                <p class="text-muted text-sm mb-0"><%= @user.prefecture.name %></p>
                <p class="text-sm mb-0"><%= @user.bike_name %></p>
              </div>
              <div class="card-body p-4">
                <div class="d-flex align-items-center mb-3">
                  <div class="icon-rounded icon-rounded-sm bg-primary-light flex-shrink-0 me-2">
                    <svg class="svg-icon text-primary svg-icon-md">
                      <use xlink:href="#diploma-1"> </use>
                    </svg>
                  </div>
                  <div>
                    <p class="mb-0">2877 reviews</p>
                  </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                  <div class="icon-rounded icon-rounded-sm bg-primary-light flex-shrink-0 me-2">
                    <svg class="svg-icon text-primary svg-icon-md">
                      <use xlink:href="#checkmark-1"> </use>
                    </svg>
                  </div>
                  <div>
                    <p class="mb-0">Verified</p>
                  </div>
                </div>
                <hr>
                <h6>Profile</h6>
                <ul class="card-text">
                  <li><%= @user.age.name %></li>
                  <li><%= @user.gender.name %></li>
                  <li><%= @user.personality.name %></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-9 ps-lg-5">
            <h1 class="hero-heading mb-0"><%= "#{@user.nickname}さんのマイページ" %></h1>
            <div class="text-block">
              <p> <span class="badge badge-secondary-light"><%= "#{@user.created_at.strftime("%Y年 %m月 %d日")}から参加しています" %></span></p>
            </div>
            <div class="text-block">
              <h4 class="mb-5"><%= "#{@user.nickname}'s 投稿一覧" %></h4>
              <div class="row">
                <!-- place item-->
                <% @user.tourings.each do |touring| %>
                <div class="col-sm-6 col-lg-4 mb-30px hover-animate" data-marker-id="59c0c8e33b1527bfe2abaf92">
                  <div class="card h-100 border-0 shadow">
                    <div class="card-img-top overflow-hidden gradient-overlay"> <%= image_tag touring.image, class:"img-fluid" %>
                      <div class="card-img-overlay-top text-end"><a class="card-fav-icon position-relative z-index-40" href="javascript: void();"> 
                          <svg class="svg-icon text-white">
                            <use xlink:href="#heart-1"> </use>
                          </svg></a></div>
                    </div>
                    <div class="card-body d-flex align-items-center">
                      <div class="w-100">
                        <h6 class="card-title"><%= link_to"#{touring.title}", "#", class:"text-decoration-none text-dark" %></h6>
                        <div class="d-flex card-subtitle mb-3">
                          <p class="flex-grow-1 mb-0 text-muted text-sm"><%= touring.weather.name %></p>
                          <p class="flex-grow-1 mb-0 text-muted text-sm"><%= "#{touring.mileage}km" %></p>
                          <p class="flex-shrink-1 mb-0 card-stars text-xs text-end"><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i><i class="fa fa-star text-warning"></i>
                          </p>
                        </div>
                        <p class="card-text text-muted"><%="#{touring.created_at.strftime("%Y年 %m月 %d日")}" %> </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %> 
              </div>
            </div> 
    </section>
  </div>